<h1>User info</h1>

    <%= attachment_image_tag user, :profile_image, fallback: "no_image.jpg", size: "100x100"%>
    <div class="profile-container">
    <h3 class="profile-name"><%= user.name %></h3>
    <h3 class="profile-opinion"><%= user.introduction %></h3>
    

    <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(user) %></p>
    <% end %>
    
     
    </div>

  <h2>New book</h2>

  <%= form_for(book) do |f| %>
    <h4>Title<br>
      <%= f.text_field :title %><br>
      Body<br>
      <%= f.text_area :body %>
      <br><%= f.submit 'Create Book' %>
    </h4>
<% end %>