 <h2>New book</h2>

  <%= form_for(@book) do |f| %>
    <h4>Title<br>
      <%= f.text_field :title %><br>
      Body<br>
      <%= f.text_area :body %>
      <br><%= f.submit 'Create Book' %>
    </h4>
<% end %>

 <h2>Users</h2>

  <table>
       	  <thead>
       	  <tr>
       	    <th>image</th>
            <th>name</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          	<% @users.each do |user| %>
            <tr>
              <td>画像</td>
              <td class="a"><%= user.name %></td>
              <td class="b"><%= link_to "Show",book_path(user.id) %></td>
              


              
            </tr>
            <% end %>
          </tbody>
       </table>


  
